table{
    overflow: hidden;
    border-radius: 6px;
    color: black;
}

table thead{
    background-color: black;
    color: white;
}

table th, td{
    padding: 10px;
}

table tbody tr:nth-child(odd){
    background-color: rgb(243, 243, 243);
}